
mysite/mysite/__pycache__/__init__\.cpython-36\.pyc

mysite/mysite/__pycache__/settings\.cpython-36\.pyc

mysite/mysite/__pycache__/urls\.cpython-36\.pyc

mysite/mysite/__pycache__/wsgi\.cpython-36\.pyc

mysite/polls/__pycache__/__init__\.cpython-36\.pyc

mysite/polls/__pycache__/urls\.cpython-36\.pyc

mysite/polls/__pycache__/views\.cpython-36\.pyc

*.pyc
